@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    container {
        @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8
    }
}


.scrollbar-w-2::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}

.scrollbar-track-blue-lighter::-webkit-scrollbar-track {
    --bg-opacity: 1;
    background-color: #f3f4f6;
    background-color: rgba(243, 244, 246, var(--bg-opacity));
}

.scrollbar-thumb-blue::-webkit-scrollbar-thumb {
    --bg-opacity: 1;
    background-color: #4a5568;
    background-color: rgba(74, 85, 104, var(--bg-opacity));
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
    background-color: #5a67d8;
}